.navbar {
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar .container .navbar-brand img {
  height: 50px;
  width: 50px;
}

.jumbotron {
  height: 100vh;
  padding-top: 6rem;
  padding-bottom: 1rem;
  transition: all 1s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #d5d5d5;
  background: linear-gradient(0deg, #d5d5d5 0%, black 85%);
}
.jumbotron .container .profile-wrapper .profile1 {
  position: relative;
}
.jumbotron .container .profile-wrapper .profile2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.jumbotron .container .profile-wrapper .profile2:hover {
  opacity: 1;
}
.jumbotron .container p {
  font-size: 1em;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 14%;
  }
  50% {
    background-position: 100% 87%;
  }
  100% {
    background-position: 0% 14%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 14%;
  }
  50% {
    background-position: 100% 87%;
  }
  100% {
    background-position: 0% 14%;
  }
}

.accordion-body img {
  height: 30px;
  width: 30px;
}

.container .card {
  -webkit-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.05);
}
.container .card .image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.35s;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .card .image-overlay img {
  height: 50px;
  width: 50px;
}
.container .card .image-overlay:hover {
  opacity: 1;
}
.container .card .row .accordion-collapse {
  border: 0;
}

.card {
  margin-bottom: 1rem;
}

.nav-item img {
  height: 30px;
  width: 30px;
}

footer ul li .btn {
  box-shadow: none;
}

.popover {
  height: auto;
  width: 150px;
}

.modal .modal-dialog .modal-content p {
  font-size: 10px;
}

.roll-in-blurred-left {
  -webkit-animation: roll-in-blurred-left 0.8s 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: roll-in-blurred-left 0.8s 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .jumbotron {
    height: auto;
  }
  .jumbotron .container p {
    font-weight: 200;
    font-size: 1.5em;
  }

  .accordion-body img {
    height: 50px;
    width: 50px;
  }
}
@media (min-width: 1024px) {
  .jumbotron .container img {
    height: 200px;
    width: 200px;
  }

  .project {
    max-width: 370px;
  }
  .project img {
    max-height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
