html,
body {
  height: 100%;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar .container .navbar-brand img {
  height: 50px;
  width: 50px;
}

.jumbotron {
  height: 100vh;
  padding-top: 6rem;
  padding-bottom: 1rem;
  transition: all 1s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 17px 10px lightgrey;
  background: #d5d5d5;
  background: linear-gradient(0deg, #d5d5d5 0%, black 85%);
}
.jumbotron .container .profile-wrapper {
  position: relative;
}
.jumbotron .container .profile-wrapper .profile1,
.jumbotron .container .profile-wrapper .profile2 {
  height: 120px;
  width: 120px;
}
.jumbotron .container .profile-wrapper .profile1 {
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}
.jumbotron .container .profile-wrapper .profile2 {
  opacity: 1;
}
.jumbotron .container .profile-wrapper .profile1:hover {
  opacity: 0;
}
.jumbotron .container p {
  font-size: 1.2em;
}
.jumbotron .arrow-down {
  fill: white;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 14%;
  }
  50% {
    background-position: 100% 87%;
  }
  100% {
    background-position: 0% 14%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 14%;
  }
  50% {
    background-position: 100% 87%;
  }
  100% {
    background-position: 0% 14%;
  }
}

.accordion-body img {
  height: 30px;
  width: 30px;
}

.card .card-body .goal-icons {
  text-align: center;
}
.card .card-body .goal-icons img {
  height: 40px;
  width: 40px;
  margin-left: 1em;
  margin-right: 1em;
}

.career {
  margin-top: 0.5em;
  padding: 0;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.05);
}
.career ul h5 {
  font-size: medium;
  padding-top: 1em;
}
.career ul h6 {
  font-size: small;
}
.career ul li {
  font-size: smaller;
  margin: 0.3em 0;
  margin-right: 1em;
}
.career hr {
  width: 90%;
  margin: 0 auto;
}
.career .education ul {
  text-align: center;
  padding: 0 1em;
}
.career .education ul img {
  height: 50px;
  width: 50px;
  margin-top: 1em;
}

.canvasing {
  position: relative;
}
.canvasing .timeline hr {
  align-items: stretch;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 31px;
  z-index: 1;
  margin-top: 0;
}

.resume .work-heading {
  display: flex;
}
.resume .work-heading .work-icon {
  height: 40px;
  min-width: 40px;
  background-color: lightgrey;
  border-radius: 50%;
  z-index: 2;
  margin-right: 1em;
}
.resume .work-heading .work-icon img {
  position: relative;
  height: 25px;
  width: 25px;
  top: 6px;
  left: 8px;
}
.resume .work-heading .work-titles {
  border-bottom: 5px solid #b4c1c8;
}
.resume .work-heading .work-titles h5 {
  font-weight: 300;
}
.resume .work-heading .work-titles h6 {
  font-size: 12px;
  color: grey;
}
.resume .work-heading .work-titles img {
  height: 40px;
  width: 40px;
}
.resume .work-lists {
  margin-top: 0.5em;
  margin-left: 2.5em;
  font-weight: 300;
}

.education .education-heading {
  display: flex;
}
.education .education-heading .education-icon {
  height: 40px;
  min-width: 40px;
  background-color: lightgrey;
  border-radius: 50%;
  z-index: 2;
}
.education .education-heading .education-icon img {
  position: relative;
  height: 25px;
  width: 25px;
  top: 6px;
  left: 8px;
}
.education .education-heading .education-titles {
  margin: 0 auto;
  min-width: 240px;
  margin-bottom: 2em;
  text-align: center;
}
.education .education-heading .education-titles img {
  height: 40px;
  width: 40px;
}
.education .education-heading .education-titles h5 {
  font-weight: 300;
}
.education .education-heading .education-titles h6 {
  font-size: 12px;
  color: grey;
}

.container .card {
  -webkit-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.05);
}
.container .card .image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.35s;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .card .image-overlay img {
  height: 50px;
  width: 50px;
}
.container .card .image-overlay:hover {
  opacity: 1;
}
.container .card .row .accordion-collapse {
  border: 0;
}

.card {
  margin-bottom: 1rem;
}

.nav-item img {
  height: 30px;
  width: 30px;
}

footer ul li .btn {
  box-shadow: none;
}

.popover {
  height: auto;
  width: 150px;
}

.modal .modal-dialog .modal-content p {
  font-size: 10px;
}

.roll-in-blurred-left {
  -webkit-animation: roll-in-blurred-left 0.8s 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: roll-in-blurred-left 0.8s 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.shake-vertical {
  -webkit-animation: shake-vertical 5s ease-in-out infinite both;
  animation: shake-vertical 5s ease-in-out infinite both;
}

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@media (min-width: 768px) {
  .jumbotron .container h1 {
    font-size: 3em;
  }
  .jumbotron .container p {
    font-weight: 200;
    font-size: 1.5em;
  }
  .jumbotron .container ul li {
    margin: 0 0.7em;
    font-size: x-large;
  }

  .accordion-body img {
    height: 50px;
    width: 50px;
  }

  .tab-content .tab-pane .career-sections {
    display: inline-flex;
  }
  .tab-content .tab-pane .career-sections .titles {
    min-width: 300px;
  }
  .tab-content .tab-pane .career-sections .titles h5 {
    font-size: x-large;
  }
  .tab-content .tab-pane .career-sections .titles h6 {
    font-size: initial;
  }
  .tab-content .tab-pane .career-sections .lists {
    padding-top: 1em;
    font-size: larger;
  }
  .tab-content .tab-pane .education .titles h5 {
    font-size: x-large;
  }
  .tab-content .tab-pane .education .titles h6 {
    font-size: initial;
  }

  .resume .work-heading .work-icon {
    margin-right: 1em;
  }
  .resume .work-heading .work-icon img {
    position: relative;
    height: 25px;
    width: 25px;
    top: 6px;
    left: 8px;
  }
  .canvasing {
    position: relative;
  }
  .canvasing .timeline hr.education-line {
    align-items: stretch;
    width: 2px;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 0;
  }

  .education .education-heading .education-icon {
    margin-right: 1em;
  }
  .education .education-heading .education-titles {
    width: -webkit-fill-available;
    text-align: left;
  }
  .education .education-heading .education-titles img {
    float: right;
  }
}
@media (min-width: 1024px) {
  .jumbotron .container h1 {
    font-size: 4em;
  }
  .jumbotron .container ul li {
    font-size: xx-large;
  }
  .jumbotron .container .profile-wrapper .profile1,
.jumbotron .container .profile-wrapper .profile2 {
    height: 200px;
    width: 200px;
  }

  .project {
    max-width: 370px;
  }
  .project img {
    max-height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
